@CHARSET "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 12px !important;
}

.home {
	font-size: 30px;
	text-align: center;
}

.sobre {
	font-size: 30px;
	text-align: center;
}

.desc {
	font-size: 20px;
	text-align: center;
}